<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

		<environments default="mysql">
			 <environment id="mysql">
			 	<transactionManager type="JDBC"></transactionManager>
			 	<dataSource type="POOLED">
			 		<property name="driver" value="com.mysql.jdbc.Driver"/>
			 		<property name="url" value="jdbc:mysql://123.207.39.209:3306/huchao"/>
			 		<property name="username" value="dba"/>
			 		<property name="password" value="hnzdjc@"/>
			 	
			 	</dataSource>			 
			 </environment>
			 
			 <environment id="p6spy">
			 	<transactionManager type="JDBC"></transactionManager>
			 	<dataSource type="POOLED">
			 		<property name="driver" value="com.p6spy.engine.spy.P6SpyDriver"/>
			 		<property name="url" value="jdbc:mysql://123.207.39.209:3306/huchao"/>
			 		<property name="username" value="dba"/>
			 		<property name="password" value="hnzdjc@"/>
			 	
			 	</dataSource>			 
			 </environment>
		
		</environments>
		
		<mappers>
			<mapper resource="cn/test/dao/PersionDaoImpl.xml"/>
			<mapper resource="cn/test/dao/UserDaoImpl.xml"/>
		
		</mappers>
</configuration>